.reveal {
  font-size: 28px;
}

.reveal h1 {
  font-size: 48px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

.reveal .center-cells table th,
.reveal .center-cells table td {
  text-align: center;
}

.reveal section img {
  border: none;
}

.reveal .align {
  text-align: left;
}

.reveal li pre {
  width: auto;
}

.slide-background.scala3::before {
  display: block;
  position: absolute;
  top: 0;
  left: 32px;
  content: url(../images/scala3-small.png);
  width: 146px;
  height: 236px;
  box-shadow: 32px 32px 100px;
}

p > code, li > code {
  white-space: pre-wrap;
  background: #f0f0f0;
  padding: 0 2px;
  border-radius: 4px;
}

.reveal li p {
  margin: 0;
}

.reveal div.sourceCode {
  margin: 0.5em 0;
}

.reveal li pre.sourceCode {
  margin: 8px;
}

.reveal pre code {
  max-height: 520px;
}

.reveal blockquote {
  box-sizing: border-box;
  width: 80%;
  margin: 16px auto;
  background: #334455;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;
  border-radius: 10px;
}
